---
import Icon from "@components/Icon.astro";
---

<footer
  class="relative z-10 mx-auto max-w-screen-xl border-t border-border py-6"
>
  <p class="w-full text-balance px-4 text-center text-base" data-footer-note>
    <span> Built with </span>
    <span class="sr-only">Love</span>
    <Icon name="heart" class="mx-px mb-px inline animate-beat" />
    <span>
      by <strong>Alejandro Senior</strong> using <a
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      >, <a href="https://svelte.dev" target="_blank" rel="noopener noreferrer"
        >Svelte</a
      >, and <a href="https://react.dev" target="_blank" rel="noopener noreferrer"
        >React</a
      >. Deployed on <a
        href="https://cloudflare.com"
        target="_blank"
        rel="noopener noreferrer">Cloudflare</a
      >.
    </span>
  </p>
</footer>
