---
import Icon from '@components/Icon.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="relative z-10 mx-auto max-w-screen-xl border-t border-border py-6"
>
  <p class="w-full text-balance px-4 text-center text-base" data-footer-note>
    <span> {t('footer.builtWith')} </span>
    <span class="sr-only">{t('a11y.love')}</span>
    <Icon name="heart" class="mx-px mb-px inline animate-beat" />
    <span>
      <Fragment set:html={t('footer.credits')} />
    </span>
  </p>
</footer>
