---
import Icon from '@components/Icon.astro';
import { heroSocials } from '@data/site';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="mx-auto max-w-5xl content-center px-4 xs:px-6 sm:px-8">
  <header
    class="relative flex flex-row-reverse flex-wrap-reverse justify-end sm:flex-nowrap [@media(width>=37rem)]:flex-row [@media(width>=37rem)]:justify-between"
  >
    <div>
      <h1 class="text-balance font-header">
        <span class="block text-3xl md:text-5xl font-extrabold tracking-wide opacity-90">{t('hero.greeting')}</span>
      </h1>
      <p class="mt-4 block text-2xl md:text-3xl font-bold text-foreground/50">
        <Fragment set:html={t('hero.role')} />
      </p>
    </div>
    <div
      class="-mt-2 mb-6 mr-10 aspect-square size-24 min-h-24 min-w-24 overflow-clip rounded-full bg-white object-cover xs:min-h-24 xs:min-w-24 sm:mb-0 md:-mt-4 md:min-h-28 md:min-w-28 lg:-mt-2 2xl:mt-0 [@media(width>=37rem)]:mr-14"
    >
      <picture>
        <source srcset="/_astro/avatar.avif" type="image/avif" />
        <source srcset="/_astro/avatar.webp" type="image/webp" />
        <source srcset="/_astro/avatar.png" type="image/png" />
        <img src="/_astro/avatar.png" alt="Avatar" loading="eager" width="320" height="320" decoding="async" />
      </picture>
    </div>
  </header>

  <div>
    <p class="mt-16 max-w-[90%] text-pretty text-left text-lg text-foreground/65 xs:text-xl">
      <Fragment set:html={t('hero.bio')} />
      <!-- <br /><br />
      <Fragment set:html={t('hero.tagline')} /> -->
    </p>

    <div class="mt-8 @container">
      <div class="mt-2 flex flex-col items-center justify-center gap-y-4 @[25rem]:mt-0 @[25rem]:flex-row @[25rem]:justify-start">
        <ul class="flex gap-x-2">
          {
            heroSocials.map((social) => (
              <span class="group/badge relative inline-flex">
                <li class="rounded-lg text-foreground/80 transition duration-200 hover:bg-accent hover:text-accent-foreground/80">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={social.href}
                    aria-label={`${t('a11y.linkTo')} "${t(social.label)}" ${t('a11y.opensInNewTab')}`}
                    class="group"
                  >
                    <Icon name={social.icon} class="box-content size-6 p-2 text-current sm:size-7 md:size-8" />
                  </a>
                </li>
                <span
                  aria-hidden="true"
                  class="pointer-events-none absolute top-full left-1/2 z-10 mt-2 -translate-x-1/2 -translate-y-1 scale-95 whitespace-nowrap rounded-sm bg-neutral-600 px-2.5 py-1 text-sm font-semibold text-white opacity-0 shadow-md transition duration-200 group-hover/badge:translate-y-0 group-hover/badge:scale-100 group-hover/badge:opacity-100 group-hover/badge:delay-100"
                >
                  {social.name}
                  <span class="absolute bottom-full left-1/2 -translate-x-1/2 border-4 border-transparent border-b-neutral-600" />
                </span>
              </span>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
